// TODO: Refactor.

.page-home, .page-post-detail {
  .post-type-quote {
    .post-header,
    .post-tags {
      display: none;
    }

    blockquote {
      @extend .blockquote-center
    }
  }
}

.post-type-normal {
  //box-shadow: 0 0px 5px rgba(0, 0, 0, .1);
  margin-bottom: 15px
  background-color: white;
}

.post-inner {
  padding: $content-desktop-padding;

  +tablet() {
    padding: 20px 40px;
  }
  +mobile() {
    padding: 20px 40px;
  }
}

.post-general-bg {
  padding: $content-desktop-padding;
  background-color: white;
  padding-bottom: 100px;
  min-height: 500px;

  +tablet() {
    padding: 20px 40px;
  }
  +mobile() {
    padding: 20px 40px;
  }
}